.mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    color: rgba(68, 43, 43, 0.87);
}

.select-action {
    display: flex;
    align-items: center;
    margin: 8px 4px 16px 0px;
}

.fixed-bottom-1 {
    position: fixed;
    bottom: 96px;
    right: 24px;
}

.fixed-bottom-2 {
    position: fixed;
    bottom: 148px;
    right: 24px;
}

.fcc-nav-bottom-btn {
    width: 100%;
    height: 52px;
    line-height: normal;    
    padding: 8px 16px;
}

/* Handsets small and large in portrait */
@media (max-width: 479px) {
    .list-container {
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }
}
