.login-container {
    margin: 64px auto;
    width: 400px;
}

.login-card {
    border-radius: 8px;
}

.login-header {
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.mat-card-content {
    padding: 48px 0px;
    text-align: center;
}

.mat-raised-button {
    width: 220px;
    margin-bottom: 16px;
}

.mat-raised-button.mat-primary {
    background-color: #3b5998;
    color: #fff;
}

.login-icon {
    border: none;
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 18px;
    margin-right: 8px;
}

.spacer {
    display: none;
}

.links {
    text-align: right;
}

/* Handsets small and large in portrait */
@media (max-width: 479px) {
    .login-container {
        margin: 0px;
        width: 100%;
    }
    
    .mat-card:not([class*=mat-elevation-z]) {
        border-radius: 0px;
        box-shadow: none;        
    }

    .login-container {
        height: 100%;
        padding-top: 24px;
    }
    
    .spacer {
        flex: 1;
        display: flex;
    }    
}
