html, body { height: 100%; }

body {    
    font-family: 'Rubik', sans-serif;
    margin: 0px;
}

app-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f4f7f9;
}

app-login {
    flex: 1;
    align-items: center;
    display: flex;
}

app-admin,
app-admin-dashboard,
app-admin-bots,
app-admin-bot-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
}

app-admin-dashboard,
app-admin-bots,
app-admin-bot-detail {
    background-color: #f4f7f9;
    margin-left: 8px;
    padding: 8px 8px 0px 8px;
}

app-chat {
    right: 0;
    position: absolute;
    width: 99%;
    display: flex;
    height: 99%;
    background-color: rgba(255, 255, 255, 0.6);
}

app-chat > div {
    flex: 1;
    overflow: scroll;
    background: #fff;
    border-top-left-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Handsets small and large in portrait */
@media (max-width: 479px) {
    app-login {
        align-items: flex-start;
    }

    app-admin-dashboard,
    app-admin-bots,
    app-admin-bot-detail {
        margin-left: 0px;
        padding: 0px;
    }
}

.mat-elevation-z4 {
    border-radius: 4px;
}

.fcc-mat-menu .mat-menu-content:not(:empty) {
    padding-top: 0px;
    padding-bottom: 0px;
}

.m-l-8 {
    margin-left: 8px;
}

.spacer {
    flex: 1 1 auto;
}

.list-container {
    margin: 4px;
}

.list-title {
    padding: 8px 16px;
}

.light-text {
    text-align: center;
    color: rgba(0,0,0,0.6);
    margin-top: 16px; 
}

.no-items {
    padding: 8px 0px 0px 16px;
    color: rgba(0,0,0,0.6);
}

.white {
    background: #ffffff;
}

.text {
    color: #000;
}

.text a {
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
}

.text a:hover {
    text-decoration: underline;
}

.small-text {
    font-size: 12px !important;
}

.fcc-toolbar-bottom {
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    align-items: center;
    background: #fff;
    border-top: 1px solid rgba(0,0,0,0.2);  
}

.fcc-toolbar-bottom > div {
    display: flex;
    flex: 1;
}

.fcc-nav-bottom-btn > span.mat-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-hover-effect.mat-button .mat-button-focus-overlay,
.no-hover-effect.mat-button.mat-primary .mat-button-focus-overlay,
.no-hover-effect.mat-button.mat-accent .mat-button-focus-overlay,
.no-hover-effect.mat-button.mat-warn .mat-button-focus-overlay
{
  background-color: transparent;
}

.padder {
    margin-bottom: 72px;
}

.padder2 {
    margin-top: 54px;
    margin-bottom: 72px;
}

.fcc-loader {    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.fcc-loader-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.fcc-loader-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #FFFDE7;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #FFFDE7 transparent transparent transparent;
}

.fcc-loader-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.fcc-loader-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.fcc-loader-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
